<section class="experience-conteiner">
    <div class="experience-table" data-aos="fade-up">
        <div class="section-tittle">
            Experiencia
        </div>
        <div class="experience-item">
            <div class="circle-dot"></div>
            <div class="row ">
                <div class="col-12 experience-role">
                    Trainee Python
                </div>
            </div>
            <div class="row ">
                <div class="col-6 experience-company">
                    INCLUIT
                </div>
                <div class="col-6 experience-date">
                    2022 - Actualidad
                </div>
            </div>
            <div class="row ">
                <div class="col-12 experience-description">
                    • Tareas correspondientes a QA, creación de test plan, preparación de ambientes y ejecución manual de casos de prueba. <br>
                    • Tarea correspondiente a Dev, corrección de bugs en test cases automatizados. <br>
                    Utilización de Jira, desempeño en un ambiente ágil con metodología Scrum.
                </div>
            </div>
        </div>
        <div class="experience-item">
            <div class="circle-dot"></div>
            <div class="row ">
                <div class="col-12 experience-role">
                    Pasante de Administración
                </div>
            </div>
            <div class="row ">
                <div class="col-6 experience-company">
                    New Ways School of English
                </div>
                <div class="col-6 experience-date">
                    2017
                </div>
            </div>
            <div class="row ">
                <div class="col-12 experience-description">
                    Desarrollo de tareas administrativas y ayudante de secretaría.

                </div>
            </div>
        </div>
       
    </div>
</section>
