<section class="header-conteiner" >
    <div class="header-table" >
        <div class="header-show">
            <div class="row">
                <div class="col-6 header-tittle">
                    Milagros
                </div>
            </div>
            <div class="row">
                <div class="col-6  header-tittle">
                    Julieta
                </div>
            </div>
            <div class="row ">
                <div class="col-6 header-tittle">
                    Molina
                </div>
                <div class="col-6 header-subtittle">
                    <br><br>
                    Estudiante de Ingenieria en Sistemas - Desarrolladora FullStack
                </div>
            </div>
        </div>
    </div>
</section>

