<section class="aboutMe-conteiner" >
    <div class="aboutMe-table">
        <div class="aboutMe-show" data-aos="fade-up">
            <div class="section-tittle">
                Sobre Mi
            </div>
            <div class="row">
                <div class="col-9 aboutMe-text">
                    Soy una persona detallista, proactiva, analítica y critica.
                    Busco seguir creciendo, aprendiendo y desarrollándome profesionalmente.
                    Cuento con experiencia laboral en la industria IT, en tareas de aseguramiento de calidad.
                    Tengo conocimientos en diversos lenguajes de programación y de consulta. Realice proyectos web utilizando los marcos de trabajo Angular-SpringBoot y React-Django
                </div>
                <div class="col-md-3 mb-2">
                    <img class="aboutMe-photo" src="../../../assets/aboutMe-photo.jpg"alt="Avatar">
                </div>
            </div>
        </div>
    </div>
    
</section>
