<section class="projects-conteiner">
    <div class="projects-table" data-aos="fade-up">
        <div class="section-tittle">
            Proyectos
        </div>
        <div class="row">
            <div class="col-sm-4 project-item" data-aos="fade-right">
                <div class="card text-white bg-dark mb-3" style="width: 20rem;" >
                    <img class="card-img-top" src="../../../assets/project-noteR.png" alt="Card image cap">
                    <div class="card-body">
                        <span class="hidden"> < </span>
                            <span class="card-tittle">noteR</span>
                            <span class="hidden"> /> </span>
                        <div>
                            
                        </div>
                        
                        <p class="card-text">Pagina web para la creación y gestión de notas y checklist con autenticación de usuarios. Realizada con React y Django.</p>
                        <a href="" target="_blanck"><i class="fa fa-sharp fa-regular fa-rocket fa-2x"></i></a>
                        <a href="https://github.com/milagrosjm/proyecto_final_PIL" target="_blank"><i class="fa fa-brands fa-github fa-2x"></i></a>
                    </div>
                </div>
            </div>    <br/><br/>
            <div class="col-sm-4 project-item" data-aos="fade-right">
                <div class="card text-white bg-dark mb-3" style="width: 20rem;" >
                    <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/portfolio-a50bf.appspot.com/o/project_Portfolio.PNG?alt=media&token=1197076d-5710-408c-ad09-2f5f4f488721" alt="Card image cap">
                    <div class="card-body">
                        <span class="hidden"> < </span>
                            <span class="card-tittle">Portfolio</span>
                            <span class="hidden"> /> </span>
                        <div>
                            
                        </div>
                        
                        <p class="card-text">Portfolio web con autenticación de usuario para su edición. Realizada con Angular y SpringBoot.</p>
                        <a href="https://frontend-argprog-f91e1.web.app/portfolio/milagrosjm" target="_blanck"><i class="fa fa-sharp fa-regular fa-rocket fa-2x"></i></a>
                        <a href="https://github.com/milagrosjm/portfolio_BackEnd" target="_blank"><i class="fa fa-brands fa-github fa-2x"></i></a>
                    </div>
                </div>
            </div>    <br/><br/>
        </div>
        
        
        
    </div>

</section>

