<section class="skills-conteiner">
    <div class="skill-table" data-aos="fade-up">
        <div class="section-tittle">
            Habilidades
        </div>
        <div>
            <div class="row">
                <div class="col-3 skill"  data-aos="fade-right">
                    <div class="skill-item">
                        <img class="skill-icon text-center" src="../../../assets/skill-c.png" alt="Skill">
                        <h5 class="text-center">C#</h5>
                    </div>
                </div>
                <div class="col-3 skill"  data-aos="fade-right">
                    <div class="skill-item">
                        <img class="skill-icon text-center" src="../../../assets/skill-python.png" alt="Skill">
                        <h5 class="text-center">Python</h5>
                    </div>
                </div>
                <div class="col-3 skill"  data-aos="fade-right">
                    <div class="skill-item">
                        <img class="skill-icon text-center" src="../../../assets/skill-java.png" alt="Skill">
                        <h5 class="text-center">Java</h5>
                    </div>
                </div>
                <div class="col-3 skill"  data-aos="fade-right">
                    <div class="skill-item">
                        <img class="skill-icon text-center" src="../../../assets/skill-javascript.png" alt="Skill">
                        <h5 class="text-center">JavaScript</h5>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-3 skill"  data-aos="fade-right">
                    <div class="skill-item">
                        <img class="skill-icon text-center" src="../../../assets/skill-angular.png" alt="Skill">
                        <h5 class="text-center">Angular</h5>
                    </div>
                </div>
                <div class="col-3 skill"  data-aos="fade-right">
                    <div class="skill-item">
                        <img class="skill-icon text-center" src="../../../assets/skill-react.png" alt="Skill">
                        <h5 class="text-center">React</h5>
                    </div>
                </div>
                <div class="col-3 skill"  data-aos="fade-right">
                    <div class="skill-item">
                        <img class="skill-icon text-center" src="../../../assets/skill-django.png" alt="Skill">
                        <h5 class="text-center">Django</h5>
                    </div>
                </div>
                <div class="col-3 skill"  data-aos="fade-right">
                    <div class="skill-item">
                        <img class="skill-icon text-center" src="../../../assets/skill-springboot.png" alt="Skill">
                        <h5 class="text-center">SpringBoot</h5>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-3 skill"  data-aos="fade-right">
                    <div class="skill-item">
                        <img class="skill-icon text-center" src="../../../assets/skill-git.png" alt="Skill">
                        <h5 class="text-center">Git</h5>
                    </div>
                </div>
                <div class="col-3 skill"  data-aos="fade-right">
                    <div class="skill-item">
                        <img class="skill-icon text-center" src="../../../assets/skill-kubernetes.png" alt="Skill">
                        <h5 class="text-center">Kubernetes</h5>
                    </div>
                </div>
                <div class="col-3 skill"  data-aos="fade-right">
                    <div class="skill-item">
                        <img class="skill-icon text-center" src="../../../assets/skill-mysql.png" alt="Skill">
                        <h5 class="text-center">MySQL</h5>
                    </div>
                </div>
               
                
                <div class="col-3 skill"  data-aos="fade-right">
                    <div class="skill-item">
                        <img class="skill-icon text-center" src="../../../assets/skill-sqlserver.png" alt="Skill">
                        <h5 class="text-center">SQL Server</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

